{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% load static %}
    <!-- background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                } -->
    <style>
        html {
            height: 100%;
        }

        body {
            background-color: #f8f9ff;
            background-image: url("{% static 'img/home.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    </style>
    {% endblock %}
    <title>Document</title>
</head>

<body>

    {% block content %}

    <a href="login" style="float: right;">Login</a>
    <a href="sign_up" style="float: right;">Sign Up</a>

    {% endblock %}


    <!-- <a href="login">Login</a><br>
    <a href="sign_up">Sign Up</a><br> -->

</body>

</html>